{% extends 'common/base.html' %}
{% import "macros/_patination.html" as page_macros %}
{% block css %}
  {{ super() }}
  <link
    href="{{ url_for('main.static', filename='css/detail.css') }}"
    rel="stylesheet"
  />
  <link
    href="{{ url_for('main.static', filename='css/monokai.css') }}"
    rel="stylesheet"
  />
  <link
    href="{{ url_for('main.static', filename='css/base_comment.css') }}"
    rel="stylesheet"
  />
     <link
    href="{{ url_for('main.static', filename='css/simple-sidebar.css') }}"
    rel="stylesheet"
  />
{% endblock %}
{% block title %}关于{{ super() }}{% endblock %}
{% block keywords %} 关于 {% endblock %}
{% block description %} 关于本网站的介绍 {% endblock %}

{% block content %}
{#  <div class="card rounded-0 border-0" id="article">#}
{#    <div class="card-body px-2 px-md-3 pb-0">#}
{#      <h1 class="card-title text-center font-weight-bold">关于</h1>#}
{#      <hr />#}
{#      <div class="text-center f-13">#}
{#        <span#}
{#          class="mx-2"#}
{#          data-toggle="tooltip"#}
{#          data-placement="bottom"#}
{#          title=""#}
{#          data-original-title="最后编辑于2020年10月11日"#}
{#          >2020年10月11日 00:53</span#}
{#        >#}
{#        <span class="mx-2">阅读 999+</span>#}
{#      </div>#}
{#      <div class="article-body mt-4 f-17" style="line-height: 1.8">#}
{#        <p>#}
{#          <img#}
{#            alt="  "#}
{#            src="{{url_for('main.static', filename='img/logo_milab.png')}}"#}
{#            title="  "#}
{#          />#}
{#        </p>#}
{#        <p>Machine Intelligence Lab</p>#}
{#      </div>#}
{#      <div class="tag-cloud my-4"></div>#}
{#    </div>#}
{#  </div>#}
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading "><a href="{{url_for('main.about')}}" >首页</a></div>
      <div class="list-group list-group-flush">
          <a href="{{url_for('main.about_page')}}" class="list-group-item list-group-item-action  list-group-item active">系统页面</a>
          <a href="{{url_for('main.about_user')}}" class="list-group-item list-group-item-action">用户管理</a>
          <a href="{{url_for('main.about_annotation')}}" class="list-group-item list-group-item-action">标注页面</a>
          <a href="{{url_for('main.about_pic')}}" class="list-group-item list-group-item-action">图片上传与管理</a>
          <a href="{{url_for('main.about_list')}}" class="list-group-item list-group-item-action">标注文件管理</a>
          <a href="#" class="list-group-item list-group-item-action">关于</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->

      <div class="container-fluid">
          <div class="page-header">
            <h1 class="font-weight-bold">系统页面</h1>
          </div>
          <span>   </span><p style="font-size: 18px">本系统页面分为两大模块，<code>标注界面</code> 以及 <code>管理界面</code></p>
          <h2 class="h3 font-weight-bold">标注界面</h2>
           <p style="font-size: 18px">标注界面部署在<a href = "http://taanno.deepstom.machineilab.org/" style="color: #00BBF0; text-decoration:underline;">"http://taanno.deepstom.machineilab.org/" </a>，需要登陆后提供访问 </p>
          <p style="font-size: 18px">示意图如下： </p>
          <img src="{{url_for('main.static', filename='images/annotation.png')}}" width="70%">
          <br/><br/>
          <h2 class="h3 font-weight-bold">管理界面</h2>
          <p style="font-size: 18px">管理界面部署在<a href = "http://taanno.deepstom.machineilab.org/admin/" style="color: #00BBF0; text-decoration:underline;">"http://taanno.deepstom.machineilab.org/admin/" </a>，需要登陆后提供访问，并且不对普通用户开放 </p>
          <p style="font-size: 18px">示意图如下： </p>
          <img src="{{url_for('main.static', filename='images/admin1.png')}}" >
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}
