{% extends 'common/base.html' %}
{% import "macros/_patination.html" as page_macros %}
{% block css %}
  {{ super() }}
  <link
    href="{{ url_for('main.static', filename='css/detail.css') }}"
    rel="stylesheet"
  />
  <link
    href="{{ url_for('main.static', filename='css/monokai.css') }}"
    rel="stylesheet"
  />
  <link
    href="{{ url_for('main.static', filename='css/base_comment.css') }}"
    rel="stylesheet"
  />
     <link
    href="{{ url_for('main.static', filename='css/simple-sidebar.css') }}"
    rel="stylesheet"
  />
{% endblock %}
{% block title %}关于{{ super() }}{% endblock %}
{% block keywords %} 关于 {% endblock %}
{% block description %} 关于本网站的介绍 {% endblock %}

{% block content %}
{#  <div class="card rounded-0 border-0" id="article">#}
{#    <div class="card-body px-2 px-md-3 pb-0">#}
{#      <h1 class="card-title text-center font-weight-bold">关于</h1>#}
{#      <hr />#}
{#      <div class="text-center f-13">#}
{#        <span#}
{#          class="mx-2"#}
{#          data-toggle="tooltip"#}
{#          data-placement="bottom"#}
{#          title=""#}
{#          data-original-title="最后编辑于2020年10月11日"#}
{#          >2020年10月11日 00:53</span#}
{#        >#}
{#        <span class="mx-2">阅读 999+</span>#}
{#      </div>#}
{#      <div class="article-body mt-4 f-17" style="line-height: 1.8">#}
{#        <p>#}
{#          <img#}
{#            alt="  "#}
{#            src="{{url_for('main.static', filename='img/logo_milab.png')}}"#}
{#            title="  "#}
{#          />#}
{#        </p>#}
{#        <p>Machine Intelligence Lab</p>#}
{#      </div>#}
{#      <div class="tag-cloud my-4"></div>#}
{#    </div>#}
{#  </div>#}
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading "><a href="{{url_for('main.about')}}" >首页</a></div>
      <div class="list-group list-group-flush">
          <a href="{{url_for('main.about_page')}}" class="list-group-item list-group-item-action  ">系统页面</a>
          <a href="{{url_for('main.about_user')}}" class="list-group-item list-group-item-action">用户管理</a>
          <a href="{{url_for('main.about_annotation')}}" class="list-group-item list-group-item-action">标注页面</a>
          <a href="{{url_for('main.about_pic')}}" class="list-group-item list-group-item-action">图片上传与管理</a>
          <a href="{{url_for('main.about_list')}}" class="list-group-item list-group-item-action list-group-item active" >标注文件管理</a>
          <a href="#" class="list-group-item list-group-item-action">关于</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->

      <div class="container-fluid">
          <div class="page-header">
             <h1 class="font-weight-bold">标注文件管理</h1>
          </div>
         <br/><br/>
         <h2 class="h3 font-weight-bold">标注文件的查看与下载</h2>
            <p style="font-size: 18px">管理员可以进行标注文件的查看与下载</p>
            <p style="font-size: 18px">进入管理界面，点击<code>标注数据（简要）</code>即可查看标注文件的标注用户，标注日期，以及文件大小</p>
            <p style="font-size: 18px">示意图如下： </p>
            <img src="{{url_for('main.static', filename='images/ann.png')}}" width="80%">
             <p style="font-size: 18px"><code>另外：</code>超级管理员可以查看所有的用户的标注信息，并且系统整合了所有用户的标注信息，并提供了下载按钮，对应上图中的<code>all user annotation</code> </p>
              <p style="font-size: 18px">选择需要下载的文件，即可下载标注文的excel</p>
              <br/><br/>
              <p style="font-size: 18px">进入管理界面，点击<code>标注数据（详细）</code>即可预览标注文件的excel文件</p>
            <p style="font-size: 18px">超级管理员可以直接预览<code>all user annotation</code>对应的excel</p>
            <img src="{{url_for('main.static', filename='images/excel.png')}}" >
             <p style="font-size: 18px">一般管理员可以预览当前用户最新标注文件的excel形式</p>
          <p style="font-size: 18px">excel表中额外根据出生日期和拍片日期计算出了牙龄<code>year_age</code> && <code>	month_age</code> && <code>day_age</code></p>
          <p style="font-size: 18px">并且对牙位和牙评分以表格的形式呈现，未标注即为NAN</p>
            <br/><br/>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}
