{% extends 'common/base.html' %}
{% import "macros/_flash.html" as flash_macros %}
{% block title %}Demirjian's评分标注工具{% endblock %}

{% block js %}
    {{ super() }}
    <script>
        var imagehosting_for = "thumbnail-img";
        //图床
        function imagehosting(flag) {
            imagehosting_for = flag;
            layer.open({
                type: 2,
                title: '全景片管理',
                shade: 0.8,
                maxmin: true,
                shadeClose: true,
                area: ['75%', '90%'],
                content: '{{url_for("main.image_hosting")}}' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
            });
        }

        function imagehosting_callback(obj) {
            //缩略图
            if(imagehosting_for === 'thumbnail-img') {
                 updateImageDisplay_test(obj);
                 get_img_resolution(obj);
            }
        }

        $(function () {
            //添加历史图片-两步
            $('#thumbnail-add_new-btn').click(function (e) {
                imagehosting('thumbnail-img');
            });

            //固定路径编辑
            $('#baseURL').html(window.location.protocol + "//" + window.location.host + '/');
        })
    </script>
{% endblock %}


{% block main %}
    <link href="{{url_for('main.static', filename='build/css/custom.css')}}" rel="stylesheet">
    <link href="{{url_for('main.static', filename='build/css/menu.css')}}" rel="stylesheet">
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7 img-main" id="img-item">
                </div>
                <div class="col-md-5" id="file-open">
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div>
                            <div class="mt-2">
                                <button id="thumbnail-add_new-btn" type="button" class="btn btn-outline-secondary btn-sm">添加新全景片</button>
                            </div>
                             <div class="preview">
                                <p>&nbsp;No files currently selected</p>
                            </div>
                        </div>
	                </form>
                    <form role="form">
                        <div class="form-group">
                            <span><b>牙位</b></span>
                            <br/><br/><span>  </span>
                            <label class="radio-inline">
                                <input type="radio" value="18" name="tooth"  checked="true">18
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="17" name="tooth" >17
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="16" name="tooth" >16
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="15" name="tooth" >15
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="14" name="tooth" >14
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="13" name="tooth" >13
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="12" name="tooth" >12
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="11" name="tooth" >11
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="21" name="tooth" >21
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="22" name="tooth" >22
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="23" name="tooth" >23
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="24" name="tooth" >24
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="25" name="tooth" >25
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="26" name="tooth" >26
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="27" name="tooth" >27
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="28" name="tooth" >28
                            </label>
                            <br/><span>  </span>
                            <label class="radio-inline">
                                <input type="radio" value="48" name="tooth" >48
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="47" name="tooth" >47
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="46" name="tooth" >46
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="45" name="tooth" >45
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="44" name="tooth" >44
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="43" name="tooth" >43
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="42" name="tooth" >42
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="41" name="tooth" >41
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="31" name="tooth" >31
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="32" name="tooth" >32
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="33" name="tooth" >33
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="34" name="tooth" >34
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="35" name="tooth" >35
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="36" name="tooth" >36
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="37" name="tooth" >37
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="38" name="tooth" >38
                            </label>
                        </div>
                    </form>
                    <div>
                        <br/>
                    </div>
                    <form role="form">
                        <div class="form-group">
                            <span><b>牙位标注状态</b></span>
                            <br/><br/><span>  </span>
                            <input type="button" value="18" name="tooth_status" class = "18" style="background: maroon; width: 40px">
                            <input type="button" value="17" name="tooth_status" class = "17" style="background: maroon; width: 40px">
                            <input type="button" value="16" name="tooth_status" class = "16" style="background: maroon; width: 40px">
                            <input type="button" value="15" name="tooth_status" class = "15" style="background: maroon; width: 40px">
                            <input type="button" value="14" name="tooth_status" class = "14" style="background: maroon; width: 40px">
                            <input type="button" value="13" name="tooth_status" class = "13" style="background: maroon; width: 40px">
                            <input type="button" value="12" name="tooth_status" class = "12" style="background: maroon; width: 40px">
                            <input type="button" value="11" name="tooth_status" class = "11" style="background: maroon; width: 40px">
                            <input type="button" value="21" name="tooth_status" class = "21" style="background: maroon; width: 40px">
                            <input type="button" value="22" name="tooth_status" class = "22" style="background: maroon; width: 40px">
                            <input type="button" value="23" name="tooth_status" class = "23" style="background: maroon; width: 40px">
                            <input type="button" value="24" name="tooth_status" class = "24" style="background: maroon; width: 40px">
                            <input type="button" value="25" name="tooth_status" class = "25" style="background: maroon; width: 40px">
                            <input type="button" value="26" name="tooth_status" class = "26" style="background: maroon; width: 40px">
                            <input type="button" value="27" name="tooth_status" class = "27" style="background: maroon; width: 40px">
                            <input type="button" value="28" name="tooth_status" class = "28" style="background: maroon; width: 40px">
                            <br/><span>  </span>
                            <br/><span>  </span>
                            <input type="button" value="48" name="tooth_status" class = "48" style="background: maroon; width: 40px">
                            <input type="button" value="47" name="tooth_status" class = "47" style="background: maroon; width: 40px">
                            <input type="button" value="46" name="tooth_status" class = "46" style="background: maroon; width: 40px">
                            <input type="button" value="45" name="tooth_status" class = "45" style="background: maroon; width: 40px">
                            <input type="button" value="44" name="tooth_status" class = "44" style="background: maroon; width: 40px">
                            <input type="button" value="43" name="tooth_status" class = "43" style="background: maroon; width: 40px">
                            <input type="button" value="42" name="tooth_status" class = "42" style="background: maroon; width: 40px">
                            <input type="button" value="41" name="tooth_status" class = "41" style="background: maroon;width: 40px">
                            <input type="button" value="31" name="tooth_status" class = "31" style="background: maroon;width: 40px">
                            <input type="button" value="32" name="tooth_status" class = "32" style="background: maroon;width: 40px">
                            <input type="button" value="33" name="tooth_status" class = "33" style="background: maroon;width: 40px">
                            <input type="button" value="34" name="tooth_status" class = "34" style="background: maroon;width: 40px">
                            <input type="button" value="35" name="tooth_status" class = "35" style="background: maroon;width: 40px">
                            <input type="button" value="36" name="tooth_status" class = "36" style="background: maroon;width: 40px">
                            <input type="button" value="37" name="tooth_status" class = "37" style="background: maroon;width: 40px">
                            <input type="button" value="38" name="tooth_status" class = "38" style="background: maroon;width: 40px">

                        </div>
                    </form>
                    <div>
                        <br/>
                    </div>
                    <form id="annotation-type">
                        <b>标注类型</b>
                    </form>
                    <div>
                        <br/>
                    </div>
                    <div>
                        <span><b>样本总数：</b><strong id="total"></strong></span>
                        <input type="text" id="jump_page" value="" style="width:100px" placeholder="跳转到指定页"/>
                        <span><b>当前文件：</b><strong id="cur_id"></strong></span>
                        <span><b>坐标区域：</b><strong id="cur_loc"></strong></span>
                    </div>
                    <br/>
                    <div>
                        <form >
                            <label for="party">拍片日期 </label>&nbsp;
                            <input type="date" id="shootingDate" name="shootingDate" min="1900-01-01" required >
                            <input type="text" id = "datetips"   style="width:300px;color: #b92c28;font-weight:bold;">
                            <span class="validity"></span>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-1">
                    <button class="btn btn-default btn-lg" id="side_left" type="button" value="left">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-default btn-lg" id="side_right" type="button" value="right">
                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div>
                        <span><b>所有样本标注状态：</b></span>
                        <textarea class="form-control" id="annotation_total_status"  rows="8"></textarea>
                    </div>
                    <br/>
                </div>
                <div class="col-md-5">
                    <div >
                        <span><b>当前样本标注状态：</b></span>
                        <textarea class="form-control" id="annotation_cur_status" style="width:850px" rows="8"></textarea>
                    </div>
                    <br/>
                    <button class="btn btn-primary" id="btn_save" type="button">保存</button>
                </div>
            </div>
        </div>


        {% for msg in get_flashed_messages() %}
            <p>{{msg}}</p>
        {% endfor %}


        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{url_for('main.static', filename='build/js/bootstrap-3.3.7/js/bootstrap.min.js')}}"></script>
        <script src="{{url_for('main.static', filename='build/js/layer-v3.1.1/layer/layer.js')}}"></script>
        <script src="{{url_for('main.static', filename='build/js/custom.js')}}"></script>
        <script src="{{url_for('main.static', filename='build/js/draw_roi.js')}}"></script>
        <script type="text/javascript">
        var sampleCount = "{{ sample_count }}";
        </script>
    </body>
{% endblock %}