{% extends 'admin/common/base.html' %}
{% block title %}查看标注数据{% endblock %}

{% block css %}
  {{ super() }}
  <link
    href="{{ url_for('admin.static', filename='css/audit.css') }}"
    rel="stylesheet"/>
{% endblock %}

{% block js %}
    {{ super() }}
    <script src="{{url_for('admin.static', filename='js/watch.js')}}"></script>
    <script>

    function selectuser(){
        var user = $("#user_id option:selected").text();
        $.ajax({
             type: "POST",
             dataType: "json",
             url: "{{ url_for('admin.annotation_data_query_user')}}",
             data: {'username': user},
             beforeSend:function (){},
             success:function (res) {
                 if(res.code === 1){
                     var pic = $("#image_id");
                     pic.empty();
                     pic.append(" <option>---请选择图片---</option>");
                     var data = res.image_list;
                     {#console.log(data)#}
                     if (data != null){
                    	//循环返回的data数据,追加option标签
                        for(var i =0 ;i < data.length;i++){
                            pic.append("<option>"+ data[i] +"</option>");
                        }
                    }
                 }
             }
         });
    }

    function selectuser_to_pic(tag){
        // tag用于标注有没有用户标选框
        var username;
        if(document.getElementById('user_id')){
            username = $("#user_id option:selected").text();
        }
        else{
            username = tag
        }

        //}
        // console.log(typeof (username))
        // console.log(typeof (tag))
        var imagename =$("#image_id option:selected").text();
        $.ajax({
             type: "POST",
             dataType: "json",
             url: "{{ url_for('admin.annotation_data_query_user_to_image') }}",
             data: {'username': username, 'imagename': imagename},
             beforeSend:function (){},
             success:function (result) {
                 if(result.code === 1){
                     var getDataArray = result.annotation_data
                     var annotation_box = JSON.parse(getDataArray)
                     loadImage(result.url, annotation_box)
                 }
             }
         });
    }
    $('#btn_export').click(function (){
        user_name = $('#user_id option:selected').text()
        if(user_name == '---请按标注用户进行筛选---'){
            alert('请先选择用户！');
        }
        else{
            alert('导出'+ user_name + '标注信息');
            $.ajax({
               type: "POST",
               dataType: "json",
               url: "{{ url_for('admin.export_annotation') }}",
               data:{'username':user_name},
               beforeSend:function (){},
               success:function (result){
                   if(result.code == 1){
                       layer.msg('导出成功！点击下载')
                        $('#export').attr('href','/admin/annotation/'+result.file_name)
                   }
                   else{
                       $('#export').attr('href',null)
                       layer.msg('暂无数据！')
                   }

               }
            });

        }
    });

    $('#user_id').click(function (){
         $('#export').attr('href',null)
    });

    $('#btn_download').click(function (){
        if($('#export').attr('href') == null){
            layer.msg('请先导出数据！')
        }
    });

    </script>
{% endblock %}


{% block content %}
<div class="admin-index">
    {% if flag %}
        {% if current_user.role != "secondary_annotator" %}
            <div>
                <select  class="custom-select select-main" id="user_id" onchange="selectuser()">
                  <option disabled selected>---请按标注用户进行筛选---</option>
                  {% for ann_data in ann_lists %}
                      <option>{{ann_data[0]}}</option>
                  {% endfor %}
                </select>
            </div>
            <div style="text-align: left; margin-top: 15px;">
                <button class="btn-info" id="btn_export" type="button">按用户导出</button>  ===>
                <button class="btn-light" id = "btn_download">
                    <a id="export"> | 下载</a>
                </button>
            </div>

            <div>
                <select  class="custom-select select-main" id="image_id" onchange="selectuser_to_pic('have_user_select')">
                  <option>---选择标注图片---</option>
                </select>
            </div>
            <br/>
        {% else %}
            <div>
                <select  class="custom-select select-main" id="image_id" onchange="selectuser_to_pic('{{ current_user.username }}')">
                  <option>---请按标注图片进行筛选---</option>
                   {% for ann_data in ann_lists %}
                      <option>{{ann_data.ImageName}}</option>
                  {% endfor %}
                </select>
            </div>
            <br/>
        {% endif %}

        <div class="index img-watch">
            <canvas id="canvas_for_watch"></canvas>
        </div>
        <div class="col-12 image" style="display:none;">
            <img id="source">
        </div>
    {% else %}
        <br/><br/><br/>
        <h1 class="card-title text-center font-weight-bold">还没有任何数据！</h1>
    {% endif %}
    <br>
</div>
{% endblock %}