{% extends 'admin/common/base.html' %}
{% block title %}查看审核数据{% endblock %}

{% block css %}
  {{ super() }}
  <link
    href="{{ url_for('admin.static', filename='css/audit.css') }}"
    rel="stylesheet"/>
{% endblock %}

{% block js %}
    {{ super() }}
    <script src="{{url_for('admin.static', filename='js/watch.js')}}"></script>
    <script>

    function selectuser(){
        var user = $("#user_id option:selected").text();
        $.ajax({
             type: "POST",
             dataType: "json",
             url: "{{ url_for('admin.review_data_query_user')}}",
             data: {'username': user},
             beforeSend:function (){},
             success:function (res) {
                 if(res.code === 1){
                     var pic = $("#image_id");
                     pic.empty();
                     pic.append(" <option>---请选择图片---</option>");
                     var data = res.image_list;
                     {#console.log(data)#}
                     if (data != null){
                    	//循环返回的data数据,追加option标签
                        for(var i =0 ;i < data.length;i++){
                            pic.append("<option>"+ data[i] +"</option>");
                        }
                    }
                 }
             }
         });
    }

    function selectuser_to_pic(){
        // tag用于标注有没有用户标选框
        /*var username;
        if(document.getElementById('user_id')){
            username = $("#user_id option:selected").text();
        }
        else{
            username = tag
        }*/

        //}
        // console.log(typeof (username))
        // console.log(typeof (tag))
        var imagename =$("#image_id option:selected").text();
        $.ajax({
             type: "POST",
             dataType: "json",
             url: "{{ url_for('admin.review_first_data_query_to_image') }}",
             //data: {'username': username, 'imagename': imagename},
             data: {'imagename': imagename},
             beforeSend:function (){},
             success:function (result) {
                 if(result.code === 1){
                     var getDataArray = result.annotation_data
                     var annotation_box = JSON.parse(getDataArray)
                     loadImage(result.url, annotation_box)
                 }
             }
         });
    }
    </script>
{% endblock %}


{% block content %}
<div class="admin-index">
    {% if flag %}
        <div>
            <select  class="custom-select select-main" id="image_id" onchange="selectuser_to_pic()">
              <option>---请按标注图片进行筛选---</option>
               {% for ann_data in ann_lists %}
                  <option>{{ann_data[0]}}</option>
              {% endfor %}
            </select>
        </div>
        <br><br>
        <div class="index img-watch">
            <canvas id="canvas_for_watch"></canvas>
        </div>
        <div class="col-12 image" style="display:none;">
            <img id="source">
        </div>
    {% else %}
        <br/><br/><br/>
        <h1 class="card-title text-center font-weight-bold">还没有任何数据！</h1>
    {% endif %}
    <br>
</div>
{% endblock %}