<nav id="sidebar" class="col-lg-1 d-md-block sidebar">
    <div class="sidebar-sticky">
      <h6 class="sidebar-heading text-primary" style="width: 100%; height: 45px;display: block;line-height: 45px;text-align: center;">
        <span>管理</span>
      </h6>
    {% if current_user.role != "reviewer" %}
      <ul class="nav flex-column ml-1">
        <li class="nav-item">
          <a class="nav-link font-weight-bold {{'active' if request.path == url_for('admin.ann_data') else ''}} text-center" href="{{url_for('admin.ann_data')}}">
            查看标注数据
          </a>
      </ul>
      <ul class="nav flex-column ml-1">
        <li class="nav-item">
          <a class="nav-link font-weight-bold {{'active' if request.path == url_for('admin.cbct_list') else ''}} text-center" href="{{url_for('admin.cbct_list')}}">
            全景片列表
          </a>
      </ul>
    {% endif %}
      {% if current_user.role == "root" or current_user.role == "reviewer"  %}
      <ul class="nav flex-column ml-1">
        <li class="nav-item">
          <a class="nav-link font-weight-bold {{'active' if request.path == url_for('admin.review') else ''}} text-center" href="{{url_for('admin.review')}}">
            审核
          </a>
      </ul>
       <ul class="nav flex-column ml-1">
        <li class="nav-item">
          <a class="nav-link font-weight-bold {{'active' if request.path == url_for('admin.review_data') else ''}} text-center" href="{{url_for('admin.review_data')}}">
            审核数据
          </a>
      </ul>
      {% endif %}
      
      {% if current_user.role == "root" %}
        <h6 class="sidebar-heading text-primary" style="width: 100%; height:45px;display: block; line-height: 45px;text-align: center;">
          <span>设置</span>
        </h6>
        <ul class="nav flex-column ml-1">
          <li class="nav-item">
            <a class="nav-link font-weight-bold {{'active' if request.path == url_for('admin.settings') else ''}} text-center" href="{{url_for('admin.settings')}}">
              系统设置
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold {{'active' if request.path == url_for('admin.users') else ''}} text-center" href="{{url_for('admin.users')}}">
              用户管理
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold {{'active' if request.path == url_for('admin.invit_codes') else ''}} text-center" href="{{url_for('admin.invit_codes')}}">
              邀请码
            </a>
          </li>
        </ul>
      {% endif %}

    </div>
  </nav>